<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>

<body>

<nav th:fragment="navbar" class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Employee Management System</a>
        <form action="/employee" method="get" class="form-inline">
            <input type="text" name="searchQuery" class="form-control mr-2" placeholder="Search for employee"/>
            <button class="btn btn-outline-primary">Search</button>
        </form>
    </div>
</nav>

<table th:fragment="employeesTable" class="table">
    <thead>
    <tr>
        <th>#ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${employees.isEmpty()}">
        <td colspan="4">No employees available</td>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.firstName} + ' ' + ${employee.lastName}"></td>
        <td th:text="${employee.email}"></td>
        <td>
            <div class="row">
                        <span class="col"><a class="btn btn-success" th:href="@{/employee/{id}(id=${employee.id})}">
                            Edit</a> </span>
                <form class="col" action="#" th:action="@{/employee/deleteBy(id=${employee.id})}" method="post">
                    <button type="submit" class="btn btn-danger">
                        Delete</button>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
