<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/components.html :: head" />
<body>

<div th:replace="fragments/components.html :: navbar"></div>

<!-- Page title -->
<div class="container mb-3">

    <div th:if="${alertMsg}" class="alert" th:classappend="'alert-' + ${alertClass}" th:text="${alertMsg}">
        Alert message
    </div>

    <div class="d-flex justify-content-between">
        <h2 th:if="${searchKeyword != null}">Search Results for &apos;<span th:text="${searchKeyword}"/>&apos;</h2>
        <h2 th:if="${searchKeyword == null}">List of Employees</h2>
        <a th:href="@{/employee/save}" class="btn btn-primary">
            <span class="h3">&#43;</span>
        </a>
    </div>
</div>

<!-- List of Employees -->
<div class="container">

    <table th:fragment="employeesTable" class="table">
        <thead>
        <tr>
            <th>#ID</th>
            <th>Role</th>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        </tr>
        <tr th:each="employee : ${employeePage.content}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.role.label}"></td>
            <td th:text="${employee.firstName} + ' ' + ${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
            <td>
                <div class="row">
                    <!-- //todo modal -->
                        <span class="col"><a class="btn btn-success" th:href="@{/employee/save(id=${employee.id})}">
                            Edit</a> </span>
                    <!-- //todo confirm removal -->
                    <form class="col" action="#" th:action="@{/employee/delete(id=${employee.id})}" method="post">
                        <button type="submit" class="btn btn-danger">
                            Delete</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Table pagination -->
<nav th:if="${employeePage.totalPages > 1}" aria-label="Pagination">
    <ul class="pagination justify-content-center">
        <li th:each="pageNumber : ${pageNumbers}"
            class="page-item" th:classappend="${pageNumber==employeePage.number+1} ? 'disabled' : ''">
            <a th:if="${searchKeyword == null}"
               th:href="@{/employee(page=${pageNumber - 1}, size=${employeePage.size})}"
               th:text="${pageNumber}"
               class="page-link"></a>
            <a th:if="${searchKeyword != null}"
               th:href="@{/employee(searchKeyword=${searchKeyword}, page=${pageNumber - 1}, size=${employeePage.size})}"
               th:text="${pageNumber}"
               class="page-link"></a>
        </li>
    </ul>
</nav>

</body>
</html>
