<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>

<div class="container">
    <div>
        <h2>Save employee</h2>

        <form action="#" method="post" th:action="@{/employee}" th:object="${employee}" novalidate>
            <input type="hidden" th:field="${employee.id}"/>
            <div th:if="${employee.id != null}" class="form-group">
                <label th:for="id" class="col-form-label">#ID</label>
                <input th:field="${employee.id}" type="text" readonly class="form-control-plaintext" />
            </div>
            <div class="form-group">
                <label th:for="firstName" class="col-form-label">First name</label>
                <input th:field="${employee.firstName}" type="text"
                       th:class="${#fields.hasErrors('firstName')}? 'form-control is-invalid' : 'form-control'"/>
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('firstName')}" th:text="${err}">Invalid first name</p>
                </div>
            </div>
            <div class="form-group">
                <label th:for="lastName" class="col-form-label">Last name</label>
                <input th:field="*{lastName}" type="text"
                       th:class="${#fields.hasErrors('lastName')}? 'form-control is-invalid' : 'form-control'"/>
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('lastName')}" th:text="${err}">Invalid last name</p>
                </div>
            </div>
            <div class="form-group">
                <label th:for="email" class="col-form-label">Email</label>
                <input th:field="*{email}" type="email" th:class="${#fields.hasErrors('email')}? 'form-control is-invalid' : 'form-control'"/>
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('email')}" th:text="${err}">Invalid email</p>
                </div>
            </div>
            <div class="form-group">
                <label th:for="role" class="col-form-label">Role</label>
                <select th:field="*{role}" th:class="${#fields.hasErrors('role')}? 'form-control is-invalid' : 'form-control'"/>>
                    <option th:each="role : ${allRoles}" th:value="${role}" th:text="${role.label}"></option>
                </select>
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('role')}" th:text="${err}">Invalid role</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

</body>
</html>